a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

body 
{ 
	background-image: url('background.png');
	/*background-image: url('bck_test.png');*/
	background-repeat: no-repeat;
	/*background-color: #ddd;*/
	/*color: #222;*/
	font-family: Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#phaseinfobtn
{
	position: absolute;
	left: 10%;
	top: 140px;
}

#alertbox
{

}

#p1name
{
	float: left;
}

#p2name
{
	float: left;
}

#p3name
{
	float: left;
}

#p4name
{
	float: left;
}

#p5name
{
	float: left;
}

#p6name
{
	float: left;
}

#p1phase
{
	float: left;
}

#p2phase
{
	float: left;
}

#p3phase
{
	float: left;
}

#p4phase
{
	float: left;
}

#p5phase
{
	float: left;
}

#p6phase
{
	float: left;
}

#p1score
{

}

#p2score
{

}

#p3score
{

}

#p4score
{

}

#p5score
{

}

#p6score
{

}