body{
	position: absolute;
	/*background-image: url('assets/images/bckgrnd.png');
	background-repeat: no-repeat;*/
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	overflow-x: hidden;
}

#site{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	background-color: #ffffff;
	
	/*-moz-box-shadow: 0px 0px 1px 1px #ccc;
	-webkit-box-shadow: 0px 0px 1px 1px #ccc;
	box-shadow: 0px 0px 1px 1px #ccc;
	 For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');*/
}

.inputTitles{
	position: relative;
	width: 350px;
}

input{
	float: right;
}

#submitter{
	position: relative;
	left: 293px;
	float: left;
}

.required{
	color: #9a081e;
}

.fixed{
	float: right;
	font: 14px/20px 'ComfortaaRegular';
}

.main-nav{
	position: inherit;
	top: 159px;
	left: 26px;
	z-index: 10001;
}

#content{
	position: inherit;
	width: 620px;
	margin-left: 30px;
	text-align: justify;
	text-justify: distribute;
	word-wrap: break-word;
	font: 18px/28px 'ComfortaaRegular';
	color: #767676;
}

#bckgrndImage{
	position: absolute;
	z-index: -1;
}

#facebook{
	position: inherit;
	float: right;
	top: 224px;
	right: 33px;
	z-index: 22;
}

#foot{
	position: inherit;
	height: 403px;
	bottom: 0px;
}

#footText{
	position: inherit;
	bottom: 12px;
	margin-left: 30px;
	width: 300px;
	font: 18px/28px 'ComfortaaRegular';
	color: #4c586a;
}

#email{
	position: inherit;
	
	width: 300px;
	font: 18px/28px 'ComfortaaRegular';
	color: #4c586a;
}

#hiddenInput{
	display: none;
}

a{
	text-decoration: none;
}

#endorsementsTitle{
	font: 18px/22px 'ChunkFiveRegular';
	color: #595959;
}

.pressSource{
	font: 18px/22px 'ChunkFiveRegular';
	color: #595959;
}

.pressLinks{
	font: 18px/28px 'ComfortaaRegular';
	color: #595959;
}

a.nav{
	position: inherit;
	margin-right: 42px;
	/*background-image: url('assets/images/buttons.png');*/
}

a.dumbNav{
	position: inherit;
	display: block;
	font: 16px/19px 'ComfortaaRegular';
	color: white;
}

.social{
	margin-right: 26px;
}

#nav-banner{
	position: relative;
	left: -40px;
	top: -4px;
}

#home{
	position: relative;
	left: 5px;
	font: 16px/19px 'ComfortaaRegular';
	color: white;
}

#platform{
	font: 16px/19px 'ComfortaaRegular';
	color: white;
}

#endorsements{
	font: 16px/19px 'ComfortaaRegular';	
	color: white;
}

#press{
	font: 16px/19px 'ComfortaaRegular';	
	color: white;
}

#donate{
	font: 16px/19px 'ComfortaaRegular';	
	color: white;
}

/*#paypalDonate{
	margin-right: 42px;
}*/

#f{
	width: 110px;
	height: 110px;
	background-image: url('assets/images/buttons.png');
	background-position: 0px -750px;
}

#f:hover{
	background-image: url('assets/images/buttons.png');
	background-position: -150px -750px;
}

#in{
	width: 110px;
	height: 110px;
	background-image: url('assets/images/buttons.png');
	background-position: 0px -900px;
}

#in:hover{
	background-image: url('assets/images/buttons.png');
	background-position: -150px -900px;
}

#pp{
	width: 110px;
	height: 107px;
	background-image: url('assets/images/buttons.png');
	background-position: 0px -1050px;
}

#pp:hover{
	background-image: url('assets/images/buttons.png');
	background-position: -150px -1050px;
}

#socialNav{
	position: relative;
	width: 420px;
	height: 120px;
	bottom: 258px;
	left: 520px;
}

#linkedIn{
	
}

ul, li, a.nav, a.dumbNav{
	float: left;
}
	
li{
	position: relative;
	z-index: 0;
}

.header{
	position: absolute;

	width:800px;
	height:154px;
	background-color:#b5d2fc;
	z-index: 21;
}

#header-margin-top{
	position: absolute;
	margin-top: 32px;
}

h1{
	margin-left: 30px;
	font: 48px/58px 'ChunkFiveRegular';
	color: #ffffff;
}

h2{
	font: 18px/22px 'ChunkFiveRegular';
	color: #ffffff;
}

h2#quote{
	position: absolute;
	margin-top: 107px;
	margin-left: 30px;
	font: 18px/22px 'ChunkFiveRegular';
	color: #3e6091;
}

#ralf{
	display: inline;
}

#nysa{
	display: inline;
}

#donkey{
	position: absolute;
	left: 800px;
}

#red-hz{
	position: inherit;
	left: 0px;
	top: 154px;
	width: 1000px;
	height: 9px;
	background-color: #c00a25;
	
	/*-moz-box-shadow: 0px 1px 1px 1px #999;
	-webkit-box-shadow: 0px 1px 1px 1px #999;
	box-shadow: 0px 1px 1px 1px #999;
	 For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');*/
}




#stateInput{
	float: left;
}


