.state {
	fill:#d3d3d3;
	stroke:#fff;
	stroke-width:0.75;
	stroke-opacity:1;
}

#slider{
	position: relative;
	top: 500px;
	left: 60px;
	width: 536px;
}

#year{
	position: fixed;
	top: 814px;
	left: 449px;
	width: 150px;
	text-align: right;
	font-family: sans-serif;
}

#oldYear{
	position: fixed;
	top: 814px;
	left: 41px;
	width: 150px;
	text-align: left;
	font-family: sans-serif;
}

.axis path{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis line{
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.y{
	font-family: sans-serif;
}

.triangleAxis{
	font-family: sans-serif;
	font-weight:100;
	font-size: smaller;
	opacity: .8;
	shape-rendering: crispEdges;
}

#triangleAxis{
	position: absolute;
	top: 500px;
	width: 700px;
	height: 30px;
}

.line1{
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.line2{
  fill: none;
  stroke: #1fb4b4;
  stroke-width: 2px;
}

#svgLine{
	position: absolute;
	left: 0px;
	top: 630px;
}

#headline{
	margin-left: 20px;
	margin-top: 20px;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: larger;
	color: #333;
}

#subhead{
	margin-top: 6px;
	font-family: sans-serif;
	font-weight: normal;
	font-size: small;
}

#tooltip{
	border: solid;
	border-color: #000;
	border-width: thin;
	font-family: sans-serif;
	font-size: smaller;
}

#stateTriangle{
	position: absolute;
	top: 518px;
}

#usTriangle{
	position: absolute;
	top: 485px;
}

#usTriangleText{
	font-family: sans-serif;
	font-size: smaller;
	fill: #000;
}
