div{
	cursor: pointer;
	height: 22px;
	padding-top: 5px;
}

#headline{
	position: absolute;
	top: 85px;
	left: 600px;
	font-family: sans-serif;
	font-size: xx-large;
}

div#headline:hover{
	cursor: default;
	background-color: white;
}