body {
	margin: none;
	padding: none;
}

#infoBox{
	position: absolute;
	top: 540px;
	left: 10px;
}

#rateDisplay{
	position: absolute;
	top: 200px;
	left: 670px;
	width: 100px;
	
	font-size: xx-large;
}

#scaleContainer{
	position: absolute;
	top: 500px;
	left: 10px;
}

.scalePieces{
	position: relative;
	width: 60px;
	height: 30px;
	float: right;
}

#rangeSlider{
	position: absolute;
	top: 560px;
	left: 10px;
	width: 600px;
}