body{
	margin-top: 25px;
	text-align: center;
	font-family:"Helvetica";
	font-weight: bold;
	font-size: 20px;
	color: #858585;
	background-image: url('../../dust.png');
	background-repeat: repeat;
}

img{
	width: 100%;
	margin-top: 30px;
}