div{
	cursor: pointer;
	height: 22px;
	padding-top: 5px;
}

div#headline:hover{
	cursor: default;
	background-color: white;
}

#headline{
	position: absolute;
	top: 22px;
	right: 35%;
	font-family: sans-serif;
	font-size: x-large;
}

#source{
	position: absolute;
	top: 837px;
	right: 35%;
	font-family: sans-serif;
	font-size: small;
	color: gray;
}

a:link {color:gray; text-decoration: none;}
a:visited {color:gray; text-decoration: none;}
a:hover {color:gray; text-decoration: none;}
a:active {color:gray; text-decoration: none;}

#whiteout{
	background-color: white;
	position: absolute;
	width: 200px;
	height: 6px;
	left: 0px;
	top: 859px;
}

#key{
	position: absolute;
	top: 177px;
	right: 35%;
	font-family: sans-serif;
	font-size: 14px;
	color: black;
}

#no, #yes, #caution{
	float: right;
	margin-top: 10px;
	font-weight: bold;
}

#yesText, #noText, #cautionText{
	margin-right: 45px;
}

#explanation{
	position: absolute;
	width: 280px;
	top: 72px;
	right: 35%;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: black;
	text-align: right;
}