html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*  •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••     */
/*   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   */
/*  •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   •••   */


body{
	overflow: hidden;
}

.arrows{
	position: fixed;
	z-index: 10000;
}

#topArrow{
	left: -31px;
	margin-top: 10%;
	margin-left: 50%;
}

#rightArrow{
	height: -31px;
	margin-left: 90%;
	margin-top: 50%;
}

#bottomArrow{
	left: -31px;
	margin-left: 50%;
	margin-top: 90%;
}

#leftArrow{
	height: -31px;
	margin-left: 10%;
	margin-top: 50%;
}

.base{
	position: absolute;
	width: 100%;
	height: 100%;
	color: #cccccc;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

.base p{
	margin-top: 30%;
	text-shadow: 0px 0px 6px #000;
}

#key{
	position: fixed;
	top: 10%;
	left: 10%;
	z-index: 1001;
}

.keys{
	position: absolute;
	width: 40px;
	height: 50px;
}

#key1{
	position: inherit;
	margin-left: 10px;
	background-color: aqua;	
}

#key2{
	position: inherit;
	margin-left: 60px;
	background-color: purple;
}

#key3{
	position: inherit;
	margin-left: 110px;
	background-color: blue;	
}

#key4{
	position: inherit;
	margin-top: 60px;
	margin-left: 10px;
	background-color: fuchsia;	
}

#key5{
	position: inherit;
	margin-top: 60px;
	margin-left: 60px;
	background-color: gray;	
}

#key6{
	position: inherit;
	margin-top: 60px;
	margin-left: 110px;
	background-color: green;	
}

#key7{
	position: inherit;
	margin-top: 120px;
	margin-left: 10px;
	background-color: maroon;	
}

#key8{
	position: inherit;
	margin-top: 120px;
	margin-left: 60px;
	background-color: lime;	
}

#key9{
	position: inherit;
	margin-top: 120px;
	margin-left: 110px;
	background-color: olive;	
}

#one{
	background-color: aqua;
}

#two{
	background-color: purple;
}

#three{
	background-color: blue;
}

#four{
	background-color: fuchsia;
}

#five{
	background-color: gray;
}

#six{
	background-color: green;
}

#seven{
	background-color: maroon;
}

#eight{
	background-color: lime;
}

#nine{
	background-color: olive;
}