<!DOCTYPE html>
<html>
<head>
  <title>React</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="bundle/main.css">
  <link rel="stylesheet" type="text/css" href="bundle/multiple-select.css">
  <link rel="stylesheet" type="text/css" href="bundle/build.css">
</head>

<body>
<div class="row">
  <div class="col-sm-12">
    <div id="Drawer"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3" style="font-size: 18px; margin-top: 100px;">
    <p>
      This is the "Drawer" -- it is essentially our entry point for users. It allows the user to select whatever
      information they want a report to show. I've now rebuilt it entirely in React.
    </p>
    <p>
      Click the icon above to see it. Then click around within it, checkboxes and multiple select elements are all
      custom built.
    </p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://npmcdn.com/react@15.3.1/dist/react.min.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
<script type="text/javascript" src="bundle/build.js"></script>
</body>

</html>