body{
	background-color: black;
}

.axis path,
.axis line {
	fill: none;
	stroke: #4c4c4c;
	shape-rendering: crispEdges;
}

.axis text {
	fill: grey;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.earnChart{
	position: absolute;
	left: 20px;
	top: 20px;
}