.axis path, .axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text{
	font-family: sans-serif;
	font-size: smaller;
	font-weight: normal;
}

#controls{
	float: right;
}

.controls{
	color: blue;
	font-family: sans-serif;
	font-size: smaller;
	font-weight: bold;
	cursor: pointer;
	margin-top: 6px;
}

body{
	width: 850px;
}

.sliderExplanation{
	font-family: sans-serif;
	font-size: smaller;
	font-weight: bold;
	margin-top: 6px;
	line-height: 16px;
}