body{
	margin-top: 25px;
	background-image: url('assets/images/dust.png');
	background-repeat: repeat;
}

a:link{ text-decoration: none; color: #0099FF; }
a:visited{ text-decoration: none; color: #0099FF; }
a:hover{ text-decoration:  underline; color: #0099FF; }
a:active{ text-decoration:  underline; color: #0099FF; }

.title{
	margin-bottom: 28px;
	text-align: left;
	font-family:"Helvetica";
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #858585;
}

a{
	width: 750px;
	margin-left: auto;
	margin-right: auto;	
	text-align: left;
	font-family:"Helvetica";
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #858585;
}

#myName{
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: center;
	font-family:"Courier New";
	font-weight: bold;
	font-size: 123px;
	color: #C2C2C2;
}

.content{
	position: relative;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.descriptions{
	margin-bottom: 80px;
	text-align: left;
	font-family:"Helvetica";
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #858585;
}