html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a:link    {color:#8d99b3; text-decoration: none;}
a:visited {color:#8d99b3; text-decoration: none;}
a:hover   {color:#8d99b3; text-decoration: underline;}
a:active  {color:#8d99b3; text-decoration: none;}

#log{
	position: fixed;
	top: 300px;
	left: 300px;
	color: white;
	z-index: 100000000000000;
}

/* FONT FAMILIES AVAILABLE: BloombergLBlack, BloombergLHeavy, BloombergLMedium, BloombergLBook */

html{
	overflow: hidden;
}

body{
	width: 100%;
	overflow: hidden;
	color: #555555;
}

p:first-child{
	margin-top: 23%;
}

p{
	margin-top: 5%;
}

.pReg{
	font-family: 'BloombergLBook', 'Arial', sans-serif;
	font-size: 300%;
	line-height: 107%;
	text-shadow: 2px 2px 8px #000;
	color: #ffffff;
}

.pMed{
	font-family: 'BloombergLBook', 'Arial', sans-serif;
	font-size: 175%;
	line-height: 108%;
	text-shadow: 2px 2px 8px #000;
	color: #ffffff;
}

.hiliteHome{
	padding: 8px;
	font-family: 'BloombergLBlack', 'Arial Black', sans-serif;
	font-size: 100%;
	background-color: #689aca;
	text-shadow: none;
	color: #000358;
}

.hiliteI{
	padding: 8px;
	font-family: 'BloombergLBlack', 'Arial Black', sans-serif;
	font-size: 100%;
	background-color: #c3b47a;
	text-shadow: none;
	color: #655712;
}

.hiliteII{
	padding: 8px;
	font-family: 'BloombergLBlack', 'Arial Black', sans-serif;
	font-size: 100%;
	background-color: #7f9d7f;
	text-shadow: none;
	color: #183617;
}

.hiliteIII{
	padding: 8px;
	font-family: 'BloombergLBlack', 'Arial Black', sans-serif;
	font-size: 100%;
	background-color: #ba7194;
	text-shadow: none;
	color: #550a2d;
}

.hiliteIV{
	padding: 8px;
	font-family: 'BloombergLBlack', 'Arial Black', sans-serif;
	font-size: 100%;
	background-color: #c28856;
	text-shadow: none;
	color: #331600;
}

.hiliteEnd{
	padding: 8px;
	font-family: 'BloombergLBlack', 'Arial Black', sans-serif;
	font-size: 100%;
	background-color: #69a2b9;
	text-shadow: none;
	color: #00264e;
}

.pSmall{
	display: none;
	position: absolute;
	width: 100%;
	bottom: 30%;
	font-family: 'BloombergLBook', 'Arial', sans-serif;
	font-size: 100%;
	text-shadow: 2px 2px 8px #000;
	text-align: center;
	color: #8d99b3;
}

#endDivFooter{
	display: none;
	position: absolute;
	width: 100%;
	bottom: 30%;
	font-family: 'BloombergLBook', 'Arial', sans-serif;
	font-size: 100%;
	text-shadow: 2px 2px 8px #000;
	text-align: center;
	color: #8d99b3;
}

.demoDowns{
	display: none;
	position: absolute;
	width: 100%;
	bottom: 30%;
	font-family: 'BloombergLBook', 'Arial', sans-serif;
	font-size: 100%;
	text-shadow: 2px 2px 8px #000;
	text-align: center;
	color: #8d99b3;
}

.nav{
	position: fixed;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	color: #ccc;
	font-family: 'BloombergLBook', 'Arial', sans-serif;
	font-size: 400%;
	text-shadow: 2px 2px 8px #000;
	cursor: pointer;
	z-index: 1000;
}

#navR{
	right: 30px;
}

#navL{
	display: none;
	left: 30px;
}

#homeDiv{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #007bd0; /* Old browsers */
	background: -moz-linear-gradient(top,  #007bd0 0%, #000358 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007bd0), color-stop(100%,#000358)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #007bd0 0%,#000358 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #007bd0 0%,#000358 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #007bd0 0%,#000358 100%); /* IE10+ */
	background: linear-gradient(top,  #007bd0 0%,#000358 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bd0', endColorstr='#000358',GradientType=0 ); /* IE6-9 */
}

#endDiv{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #0080a8; /* Old browsers */
	background: -moz-linear-gradient(top,  #0080a8 0%, #00264e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0080a8), color-stop(100%,#00264e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0080a8 0%,#00264e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0080a8 0%,#00264e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0080a8 0%,#00264e 100%); /* IE10+ */
	background: linear-gradient(top,  #0080a8 0%,#00264e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080a8', endColorstr='#00264e',GradientType=0 ); /* IE6-9 */
}

.imageContainers{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#homeDivI{
	/*background: url(assets/images/bounds.png) no-repeat center center fixed;*/
	
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/bounds.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/bounds.png', sizingMethod='scale')";
}

#IDivI{
	/*background: url(assets/images/control.png) no-repeat center center fixed;*/
}

#IIIDivI{
	/*background: url(assets/images/guidance.png) no-repeat center center fixed;*/
}

#IVDivI{
	/*background: url(assets/images/simplify.png) no-repeat center center fixed;*/
}

.ones{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #b1981f; /* Old browsers */
	background: -moz-linear-gradient(top,  #b1981f 0%, #655712 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1981f), color-stop(100%,#655712)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b1981f 0%,#655712 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b1981f 0%,#655712 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b1981f 0%,#655712 100%); /* IE10+ */
	background: linear-gradient(top,  #b1981f 0%,#655712 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1981f', endColorstr='#655712',GradientType=0 ); /* IE6-9 */
}

.twos{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #316d2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #316d2e 0%, #183617 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#316d2e), color-stop(100%,#183617)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #316d2e 0%,#183617 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #316d2e 0%,#183617 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #316d2e 0%,#183617 100%); /* IE10+ */
	background: linear-gradient(top,  #316d2e 0%,#183617 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#316d2e', endColorstr='#183617',GradientType=0 ); /* IE6-9 */
}
.threes{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #aa145a; /* Old browsers */
	background: -moz-linear-gradient(top,  #aa145a 0%, #550a2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa145a), color-stop(100%,#550a2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aa145a 0%,#550a2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aa145a 0%,#550a2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aa145a 0%,#550a2d 100%); /* IE10+ */
	background: linear-gradient(top,  #aa145a 0%,#550a2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa145a', endColorstr='#550a2d',GradientType=0 ); /* IE6-9 */
}

.fours{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #7f3600; /* Old browsers */
	background: -moz-linear-gradient(top,  #7f3600 0%, #331600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f3600), color-stop(100%,#331600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7f3600 0%,#331600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7f3600 0%,#331600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7f3600 0%,#331600 100%); /* IE10+ */
	background: linear-gradient(top,  #7f3600 0%,#331600 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f3600', endColorstr='#331600',GradientType=0 ); /* IE6-9 */
}

.contentDivs{
	position: absolute;
	display: none;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	overflow: hidden;
}